body {
    margin: 0;
    padding: 0;

}

.title {
    font-size: 70px;
    color: white;
    padding: 10px;
    margin-bottom: 400px;
    font-family: "Josefin Sans";
    padding-left: 150px;
}

h2 {
    font-family: "Poiret One";
}

.menu,
.menu li {
    list-style: none;

}
li {
    list-style: square;
}

.menu {
    padding: 0;
    margin-top: 100px;

}

.menu li {
    text-transform: uppercase;
    color: white;
    text-align: center;

    margin-bottom: 20px;
    font-size: 25px;
    background-color: rgba(0, 0, 0, 0.575);
    font-family: "Poiret One";

}

li,
.name {
    position: relative;

    animation: showLeft 1.5s;

    z-index: 1;
}

@keyframes showLeft {

    from {
        left: -100%;
    }

    to {
        left: 0;
    }

}


a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 20px;

}

a:hover {
    background: rgb(81, 129, 184, 0.6);
    transition: all 0.5s;
    color: rgb(224, 223, 223);
}

.header-back {
    background: url(../img/thermae.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

header {
    background: rgb(64, 75, 95);

}

header,
section {
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

nav {
    display: flex;
}

.icon {
    color: #5181b8;
}

.overlay {
    background: rgba(164, 206, 240, 0.88);
    margin-left: 50px;

}

.left-head {
    padding-top: 160px;

    color: white;

}

.right-head {
    width: 50%;
    margin-left: 20px;
    margin-right: 20px;
}



.description {
    padding: 30px;
    background: #f7f6f6;


    color: #464646;
    text-align: justify;
}

.description_wrap {
    margin: 0 auto;
    max-width: 1200px;
}

.description h2,
.donate,
.photos h2,
.news h2 {
    text-align: center;
    padding-bottom: 30px;
}

.donate {
    padding: 30px;
    color: #464646;
}

.photos {
    background: #f7f6f6;
    padding: 30px;
    text-align: center;
}

@media (min-width:300px) and (max-width: 1280px) {
    nav {
        display: block;
        padding-bottom: 10px;
    }

    .title {
        font-size: 45px;
        text-align: center;
        padding-left: 0px;
        margin-bottom: 0px;
    }

    .left-head {
        padding: 0px;

    }

    .right-head {
        padding-bottom: 10px;
        margin: 0 auto;
        width: 100%;

    }

    .overlay {
        margin: 0px;
    }
}